---
layout: page
title: Skeena Voices
tagline: Supporting tagline
---
{% include JB/setup %}

<div class="masthead hidden toc-section">
  <div class="navbar">
    <div>
      <div class="container">
        <ul class="nav">
          <li><a href="#" id="toc"><em>01</em>Table of Contents</a></li>
          <li><a href="#" id=""><em>02</em> Connect</a></li>
          <li><a href="#"><h2>commonplace</h2></a></li>
          <li><a href="#" id="about"><em>03</em> About</a></li>
          <li><a href="#" id=""><em>04</em> Issues</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>

<div style="display: none" id="toc-content">
  <div class="toc-close"></div>
  <div class="container narrow">
      {% for post in site.tags.story reversed %}
      {% capture col %}{{ forloop.index |modulo:3 }}{% endcapture %}
        {% if col == '1' %}
        <div class="row">
        {% endif %}
          <div class="span4 story" data-story="#{{post.url | replace: '/', ''}}">
            <a href="{{ post.url }}">
              <img src="{{ASSET_PATH}}skeena/img/TOC/{{ post.toc-img }}" height="100" width="100" class="img-circle">
              <h3 class="story-title">{{ post.title }}</h3>
              <h4 class="story-category">{{ post.category }}</h4>
              <p class="story-author">{{ post.author }}</p>
            </a>
          </div>
        {% if col == '0' or forloop.last %}
        </div>
        {% endif %}
      {% endfor %}
  </div>
</div>

<div style="display: none" id="about-content">
  <div class="toc-close"></div>
  <div class="container">
    <div class="row">
      <div class="span2">
      <p class="toc-sidebar">About Commonplace</p>
      </div>
      <div class="span6 large">
        <p>Commonplace is a publication of <a href="http://www.ecotrust.org">Ecotrust</a> focused on stories of home. Our hope is to create places for connection, for mapping out new understandings of what is common across states, nations, and human nature. We look forward to hearing your stories about the places you live, your experiences of the stories we publish, and your ideas about how to evolve Commonplace in future issues. Share your thoughts on <a href="www.facebook.com/commonplacemagazine">Facebook</a>, <a href="https://twitter.com/Commonplacemag">Twitter</a>, or write to us at <a href="mailto:info@commonplacemagazine.org">info@commonplacemagazine.org</a></p>
      </div>
      <div class="span4 about-masthead">
        <div class="row">
          <div class="span6"><img src="/assets/themes/skeena/img/TOC/welcome.jpg" height="100" width="100" class="img-circle"></div>
          <div class="span6">
            <h5>Publisher</h5>
            <p>Spencer B. Beebe</p>
            <p class="black">Founder &amp; Chair, Ecotrust</p>
          </div>
        </div>

        <div class="row break-line">
          <div class="span6"><img src="/assets/themes/skeena/img/TOC/arrival.jpg" height="100" width="100" class="img-circle"></div>
          <div class="span6">
            <h5>Editor</h5>
            <p>Carolyn Holland</p>
            <p class="black">cholland@ecotrust.org</p>
          </div>
        </div>

        <div class="row">
          <div class="span6">
            <h5>Managing Editor</h5>
            <p>Oakley Brooks</p>
          </div>
          <div class="span6">
            <h5>Contributing Editors</h5>
            <p>Jim Norton</p>
            <p>Sam Beebe</p>
            <p>Emma Deans</p>
            <p>Lola Milholland</p>
          </div>
        </div>

        <div class="row">
          <div class="span6">
            <h5>Design Director</h5>
            <p>Sarah Magrish Cline</p>
          </div>
          <div class="span6">
            <h5>Lead Developer</h5>
            <p>Edwin Knuth</p>
          </div>
        </div>

        <div class="row">
          <div class="span6">
            <h5>Editorial Intern</h5>
            <p>Sabin Ray</p>
          </div>
          <div class="span6">
            <h5></h5>
            <p></p>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>


<div class="swiper-container swiper-root" id="map">

  <div class="swiper-wrapper">
    <!--First Slide-->
    <div class="swiper-slide cover-slide">
      <div class="page-header">
        <h2 class="title-name">{{ site.title }}</h2>
        <hr/>
        <h3>{{ site.tagline }}</h3>
        <h1>{{ page.title }}</h1>
      </div>
       <div class="page-footer">
         <a href="#">
           <i class="icon-chevron-down"></i>
         </a>
       </div>
      
    </div>
      <div class="swiper-slide marker-slide" id="skeena-map">
      </div>
      <!--Second Slide-->
      {% for post in site.tags.story reversed %}
        {% if forloop.index == 3 %}
          <!-- Build the vertical slide to contain voices gallery -->
          <div class="swiper-slide" data-img="{{ post.story-img }}" id="voices" data-hash="voices">
            <div class="page full light ink-bg hide-arrows">

              <div class="navarrows hidden-tablet">
                <div class="pull-left"><a href="#" class="leftarrow">&nbsp;</a></div>
                <div class="pull-right"><a href="#" class="rightarrow">&nbsp;</a></div>
              </div> <!-- end nav arrows container -->

                <div class="span12 page-wrapper gallery-wrapper">

                  <div class="story-sidebar">
                    <div class="sidebar-header voices">
                      <p class="title">Voices</p>
                    </div>
                    <div class="voices-gallery-pagination general-pagination"></div>
                  </div>

                  <div class="swiper-container gallery" id="voices-gallery">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide light">
                          <div class="sub-toc-wrapper gallery-slide">
                          {% for post in site.tags.voices reversed %}
                            <div class="sub-toc-item" style="width:19%;">
                              <img src="{{ASSET_PATH}}skeena/img/Voices Headshots/thumbs/{{ post.toc-img}}">
                              <p class="author">{{ post.author }}</p>
                              <p class="place">{{ post.place }}</p>
                              <p class="voice-intro">{{ post.intro }}</p>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <!-- horizontal slides for each voice post -->
                      {% for post in site.tags.voices reversed %}
                      <div class="swiper-slide" data-img="{{ASSET_PATH}}skeena/img/Voices Headshots/{{ post.story-img}}">
                        <!-- <div class="sidebar-header">
                          <p><strong>{{ post.title }}</strong></p>
                        </div> -->
                        <div class="voice-content-wrapper">
                          <div class="voice-player">
                            <h3>{{ post.author }}</h3>
                            <p>
                              {{ post.place }}
                              {%if post.transcript %}
                                <span class="small"><em>[<a href="{{ASSET_PATH}}skeena/Audio/{{ post.transcript }}">Download a transcript of the audio</a>]</em></span>
                              {% endif %}
                            </p>
                            <audio src="{{ASSET_PATH}}skeena/Audio/{{ post.audio }}"  preload="none"></audio>
                          </div>
                          <div class="voice-content">
                              <div class="voice-content-text">
                               {{ post.content }}
                             </div>
                          </div>                        
                        </div>
                      </div> 
                      {% endfor %}<!-- end horizontal voices gallery swiper slide -->


                    </div> <!-- end swiper wrapper -->
                  </div> <!-- end swiper container -->
              </div>
            </div> <!-- end full page container for styling -->
          </div> <!-- end vertical slide for voices -->

        {% endif %} <!-- end the block that inserts voices into the post stream -->


          {% if post.category != 'Gallery' %}
          <div class="swiper-slide" data-img="{{ASSET_PATH}}skeena/img/article_openers/{{ post.story-img }}" data-hash="{{post.url | replace:'/',''}}" id="{{post.url | replace:'/',''}}">
            <div class="story-header">
              {% if post.author %}
              <h3>{{ post.author }}</h3>      
              <hr/>
              {% endif %}
              <h1>{{ post.title }}</h1>
            </div>
            <div class="page-footer">
              <a href="#">
                <i class="icon-chevron-down"></i>
              </a>
            </div>
          </div>
          {% endif %}

          <!--Third Slide-->
          {% assign post_length = post.content | number_of_words %}
          <div class="swiper-slide"
                {% if post.story-img %} data-img="{{ASSET_PATH}}skeena/img/article_openers/{{ post.story-img }}" {% endif %}
                data-hash="{{post.url | replace:'/',''}}"
                {% if post.category == 'Gallery' %} id="{{post.url | replace:'/',''}}" {% endif %}>
            <div class="page{% if post.category == 'Gallery' %} full light ink-bg{% endif %}">

              <div class="navarrows hidden-phone">
                <div class="pull-left"><a href="#" class="leftarrow">&nbsp;</a></div>
                <div class="pull-right"><a href="#" class="rightarrow">&nbsp;</a></div>
              </div> <!-- end nav arrows container -->

              <div class="span12 page-wrapper{% if post.category == 'Gallery' %} gallery-wrapper{% else %} paper-bg{% endif %}">

                
                <div class="story-sidebar">
                  <div class="sidebar-header">
                    <p class="title">{{ post.title }}</p>
                    {% if post.author %}
                    <p class="author">{{ post.author }}</p>
                    {% endif %}
                  </div>
                  <div class="{{post.url | replace:'/',''}}-gallery-pagination general-pagination"></div>
                </div>

                {% if post.category == 'Gallery' %}
                  <div class="swiper-container gallery" id="{{post.url | replace:'/','' }}-gallery">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide light gallery-slide">
                          <div class="gallery-intro-slide-wrapper paper-bg">
                            {{ post.content }}
                          </div>
                          {% for image in post.slideshow %}
                            {% if forloop.first %}
                              <img src="{{ ASSET_PATH }}skeena/img/{{ post.path }}/{{ image.img }}" />
                            {% endif %}
                           {% endfor %} 
                        </div>
                    {% for image in post.slideshow %}
                        <div class="swiper-slide light gallery-slide">
                          <img src="{{ ASSET_PATH }}skeena/img/{{ post.path }}/{{ image.img }}" />
                          {% if image.caption %}<span class="caption">{{ image.caption }}</span>{% endif %}
                        </div>
                    {% endfor %}
                  </div>
                </div>
                {% else %}
                {% if post_length < 750 %}
                <div class="page-content short-post post">
                {% else %}
                <div class="page-content long-post post">
                {% endif %}
                  {{ post.content }}
                </div>
                {% endif %}
              </div>
            </div>
          </div>

      {% endfor %}
      

      </div>
    </div> <!-- end swiper wrapper -->
    <!-- Scrollbar: -->
<div class="swiper-scrollbar"></div>

  </div> <!-- end swiper container -->
<!-- </div>  it appears that this div is an orpahn, but i left it here just in case LB-->

