---
layout: page
title: Skeena Voices
tagline: Supporting tagline
---
{% include JB/setup %}

<div class="masthead hidden toc-section">
  <div class="navbar">
    <div>
      <div class="container">
        <ul class="nav">
          <li><a href="#" id="toc"><em>01</em>Table of Contents</a></li>
          <li><a href="#"><em>02</em> Map</a></li>
          <li><a href="#"><h2>commonplace</h2></a></li>
          <li><a href="#"><em>03</em> About</a></li>
          <li><a href="#"><em>04</em> Issues</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>
<div style="display: none" id="toc-content">
  <div class="container">
      {% for post in site.posts reversed %}
      {% capture col %}{{ forloop.index |modulo:3 }}{% endcapture %}
      {% if col == '1' %}
      <div class="row">
      {% endif %}
        <div class="span4 story" data-story="#{{post.url | replace: '/', ''}}">
          <a href="{{ post.url }}">
            <img src="{{ post.toc-img }}" height="100" width="100" class="img-circle">
            <h3 class="story-title">{{ post.title }}</h3>
            <h4 class="story-category">{{ post.category }}</h4>
            <p class="story-author">{{ post.author }}</p>
          </a>
        </div>
      {% if col == '0' or forloop.last %}
      </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
<div id="bg-img"></div>
<div class="swiper-container swiper-root" id="map">

 <div class="page-footer">
   <a href="#">
     <i class="icon-chevron-down"></i>
   </a>
 </div>
  <div class="swiper-wrapper">
    <!--First Slide-->
    <div class="swiper-slide cover-slide">
      <div class="page-header">
        <h2 class="title-name">{{ site.title }}</h2>
        <hr/>
        <h3>{{ site.tagline }}</h3>
        <h1>{{ page.title }}</h1>
      </div>
      
    </div>
      <div class="swiper-slide" data-zoom=9>
      </div>
      <!--Second Slide-->
      {% for post in site.posts reversed %}
      <div class="swiper-slide" data-img="{{ post.story-img }}" id="{{post.url | replace:'/',''}}">
        <div class="story-header">
          {% if post.author %}
          <h3>{{ post.author }}</h3>      
          <hr/>
          {% endif %}
          <h1>{{ post.title }}</h1>
        </div>
        <div class="page-footer">
          <a href="#">
            <i class="icon-chevron-down"></i>
          </a>
        </div>
      </div>
      <!--Third Slide-->
      {% assign post_length = post.content | number_of_words %}
      <div class="swiper-slide" data-img="{{ post.story-img }}">
        <div class="page">
          <div class="span12 page-wrapper">
            <div class="story-header-small">
            <p><strong>{{ post.title }}</strong></p>
            {% if post.author %}
            <p>{{ post.author }}</p>
            {% endif %}
            </div>
            {% if post.category == 'Gallery' %}
              <div class="swiper-container gallery">
                <div class="swiper-wrapper">
                    
                {% for image in post.slideshow %}
                    <div class="swiper-slide">
                      <img src="{{ ASSET_PATH }}skeena/img/slideshow/{{ image.img }}">
                    </div>
                {% endfor %}
              </div>
            </div>
            {% else %}
            {% if post_length < 750 %}
            <div class="page-content short-post post">
            {% else %}
            <div class="page-content long-post post">
            {% endif %}

              {{ post.content }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      
      {% endfor %}
    </div{>
  </div>
</div>

