---
layout: page
title: Skeena Voices
tagline: Supporting tagline
---
{% include JB/setup %}

<div class="masthead hidden toc-section">
  <div class="navbar">
    <div>
      <div class="container">
        <ul class="nav">
          <li><a href="#" id="toc"><em>01</em>Table of Contents</a></li>
          <li><a href="#"><em>02</em> Map</a></li>
          <li><a href="#"><h1>commonplace</h1></a></li>
          <li><a href="#"><em>03</em> About</a></li>
          <li><a href="#"><em>04</em> Issues</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>
<div style="display: none" id="toc-content">
  <div class="container">
      {% for post in site.posts reversed %}
      {% capture col %}{{ forloop.index |modulo:3 }}{% endcapture %}
      {% if col == '1' %}
      <div class="row">
      {% endif %}
        <div class="span4 story">
          <a href="{{ post.url }}">
            <img src="{{ post.toc-img }}" height="150" width="150" class="img-circle">
            <h3 class="story-title">{{ post.title }}</h3>
            <h4 class="story-category">{{ post.category }}</h4>
            <p class="story-author">{{ post.author }}</p>
          </a>
        </div>
      {% if col == '0' or forloop.last %}
      </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
<div class="swiper-container">

 
  <div class="swiper-wrapper">
    <!--First Slide-->
    <div class="swiper-slide cover-slide">
      <div class="page-header">
        <h2 class="title-name">{{ site.title }}</h2>
        <hr/>
        <h3>{{ site.tagline }}</h3>
        <h1>{{ page.title }}</h1>
      </div>
      <div class="page-footer">
        <a href="#">
          <i class="icon-chevron-down"></i>
        </a>
      </div>
    </div>
      <div class="swiper-slide">
        <h1>Map</h1>
      </div>
      <!--Second Slide-->
      {% for post in site.posts reversed %}
      <div class="swiper-slide">
        <div class="story-header">
          {% if post.author %}
          <h3>{{ post.author }}</h3>      
          <hr/>
          {% endif %}
          <h1>{{ post.title }}</h1>
        </div>
        <div class="page-footer">
          <a href="#">
            <i class="icon-chevron-down"></i>
          </a>
        </div>
      </div>
      <!--Third Slide-->
      <div class="swiper-slide">
        THREE
      </div>
      {% endfor %}
  </div>
</div>

