---
---
{% include JB/setup %}
/* cover */


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/273126");

  
@font-face {font-family: 'CenturySchoolbookBT-Roman';src: url('../webfonts/273126_0_0.eot');src: url('webfonts/273126_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/273126_0_0.woff') format('woff'),url('webfonts/273126_0_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-Italic';src: url('../webfonts/273126_1_0.eot');src: url('webfonts/273126_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/273126_1_0.woff') format('woff'),url('webfonts/273126_1_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-Bold';src: url('../webfonts/273126_2_0.eot');src: url('webfonts/273126_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/273126_2_0.woff') format('woff'),url('webfonts/273126_2_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-BoldItalic';src: url('../webfonts/273126_3_0.eot');src: url('webfonts/273126_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/273126_3_0.woff') format('woff'),url('webfonts/273126_3_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-BoldCond';src: url('../webfonts/273126_4_0.eot');src: url('webfonts/273126_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/273126_4_0.woff') format('woff'),url('webfonts/273126_4_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-Monospace';src: url('../webfonts/273126_5_0.eot');src: url('webfonts/273126_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/273126_5_0.woff') format('woff'),url('webfonts/273126_5_0.ttf') format('truetype');}
 
@font-face {font-family: 'Intro-Black-Caps';src: url('../webfonts/273126_6_0.eot');src: url('webfonts/273126_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/273126_6_0.woff') format('woff'),url('webfonts/273126_6_0.ttf') format('truetype');}
@font-face {font-family: 'Intro-Black-Inline-Caps';src: url('../webfonts/273126_7_0.eot');src: url('webfonts/273126_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/273126_7_0.woff') format('woff'),url('webfonts/273126_7_0.ttf') format('truetype');}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: inherit;
}

.popover-content h3 {line-height: 1.2em;font-family:Intro-Black-Caps; }

.story-header {
  text-align: center;
  border-bottom: 0;
  width: 100%;
  padding-top: 15%;
  margin: 0 auto;
  color: white;
}
  .story-header h1 {
    font-family: Intro-Black-Inline-Caps; 
    font-weight: normal; 
    font-style: normal;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 120px;
    line-height: 1;
  }
  .story-header hr { 

    display: block; height: 1px;
    border: 0;
    border-top: 3px solid yellow;
    margin: 1em 0;
    padding: 0; 
    width: 400px;
    margin: 0 auto;
    opacity: .7;
  }

.story-header-small {
  color:white;
  padding:15px 5px;
  border-top:1px solid white;
  border-bottom:1px solid white;
  position: absolute;
  max-width:150px;
  left:-150px;
  top:200px;
}

.story-header-small strong {
  font-family: Intro-Black-Caps
}

.page-header {
  text-align: center;
  border-bottom: 0;
  width: 400px;
  padding-top: 5%;
  margin: 0 auto;
  color: white;
}
  .page-header h1 {
    font-family: Intro-Black-Inline-Caps; 
    font-weight: normal; 
    font-style: normal;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 120px;
    line-height: 1;
  }
  .page-header hr { 

    display: block; height: 1px;
    border: 0;
    border-top: 3px solid yellow;
    margin: 1em 0;
    padding: 0; 
    opacity: .7;
  }
.cover-slide {
  position: relative;
}
.page-footer {
  position: absolute;
  bottom: 30px;
  height: 44px;
  width: 44px;
  left: 48%;
  z-index: 1000;
}
  .page-footer a {
    text-align: center;
    font-size: 48px;
    color: yellow;
  }



.static-nav {
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -100px;
  width: 100px;
}

.masthead {
  position: absolute;
  z-index: 500;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}
.masthead .navbar .nav>li>a {
  font-family: Intro-Black-Caps;
  letter-spacing: .1em;
  color: white;
  text-shadow: none;
  border-right: 0;
  border-left: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.masthead .navbar .nav>li>a>h2 {
  text-transform: none;
}
.masthead .navbar .nav>li>a>span{
  width: 25px;
}
.toc-section .popover {

  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 0;
  filter: alpha(opacity=90);
   -moz-opacity: 0.9;
   -khtml-opacity: 0.9;
   background: rgba(255,255,255,0.9);
}
  .toc-section .popover .popover-content {
    overflow: auto;
  }
  .toc-section .popover .container {
    width: 70% !important;
    margin: 0 auto;
  }
  .toc-section .popover .container .row {
    margin-left: 0;
  }
  .toc-section .popover .container .story {
    text-align: center;
    margin-top: 5%;

  }
  .toc-section .popover .container .story .story-title {
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid rgb(107,103,101);
    font-size: 16px;
  }
  .toc-section .popover .container .story .story-category {
    font-style: italic;
    color: rgb(52,150,242);
  }
  .toc-section .popover .arrow {
    left: 15%;
    top: -11px !important;
    opacity: 0.8;
  }

html, body, .container, .content, .section {
  height: 100%;
  width: 100% !important;
  max-width: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.root-container {
  /*background: url({{ ASSET_PATH }}skeena/img/cover.jpg) no-repeat center;*/
  /*background-image: url({{ ASSET_PATH }}skeena/img/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;*/
  background-color: rgb(52,72,52);
}
.swiper-root {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 0;
}
.swiper-wrapper {
  z-index: 10;
}
.swiper-root, 
.swiper-root>.swiper-wrapper > .swiper-slide {
  width: 100%;
  height: 100%;
}

.page {
  background-color: white;
  width: 70%;
  max-width: 900px;
  height: 80%;
  margin: 100px auto; 
  overflow-y: hidden;
  overflow:visible;
  position:relative;
}
.page-wrapper {
  
  
  height: 100%;
}
.page-content {
  font-family: CenturySchoolbookBT-Roman;
  padding: 50px 12% 50px 6%;
  overflow: auto;
  height: 90%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.page-content p {padding-left:6%;}
.page-content hr {margin-left:6%;}
.page-content strong {color:rgb(51,150,243); font-weight: bold;}

.page-content img {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 50%;
}
.page-content blockquote {
  border-left: 0px;
  margin:20px 0;
}
  .page-content blockquote p {
    color: rgb(51,150,243);
    font-style: italic;
    padding:0;
}

.gallery {
  height: 100%;
  width: 100%;
}
.galler img {
  width: 100%;
}

  /*.page-content .short-post {
    width: 100% !important;
    height: 100% !important;
  }
    .page-content .short-post .swiper-slide {
      width: 100% !important;
      /*height: 100% !important;*/
    }*/