---
---
{% include JB/setup %}
/* cover */


a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: inherit;
}




.story-header {
  text-align: center;
  border-bottom: 0;
  width: 100%;
  padding-top: 15%;
  margin: 0 auto;
  color: white;
}
  .story-header h1 {
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 72px;
    line-height: 1;
  }
  .story-header hr { 

    display: block; height: 1px;
    border: 0;
    border-top: 3px solid yellow;
    margin: 1em 0;
    padding: 0; 
    width: 400px;
    margin: 0 auto;
    opacity: .7;
  }

.page-header {
  text-align: center;
  border-bottom: 0;
  width: 400px;
  padding-top: 5%;
  margin: 0 auto;
  color: white;
}
  .page-header h1 {
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 72px;
    line-height: 1;
  }
  .page-header hr { 

    display: block; height: 1px;
    border: 0;
    border-top: 3px solid yellow;
    margin: 1em 0;
    padding: 0; 
    opacity: .7;
  }
.cover-slide {
  position: relative;
}
.page-footer {
  position: absolute;
  bottom: 30px;
  height: 44px;
  width: 44px;
  left: 48%;
}
  .page-footer a {
    text-align: center;
    font-size: 48px;
    color: yellow;
  }



.static-nav {
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -100px;
  width: 100px;
}

.masthead {
  position: absolute;
  z-index: 500;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}
.masthead .navbar .nav>li>a {
    color: white;
    text-shadow: none;
    border-right: 0;
    border-left: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.masthead .navbar .nav>li>a>h2 {
  text-transform: none;
}
.masthead .navbar .nav>li>a>span{
  width: 25px;
}
.toc-section .popover {

  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 0;
  filter: alpha(opacity=80);
   -moz-opacity: 0.8;
   -khtml-opacity: 0.8;
   background: rgba(255,255,255,0.8);
}
  .toc-section .popover .popover-content {
    overflow: auto;
  }
  .toc-section .popover .container {
    width: 75%;
    margin: 0 auto;
  }
  .toc-section .popover .container .row {
    margin-left: 0;
  }
  .toc-section .popover .container .story {
    text-align: center;
    margin-top: 5%;

  }
  .toc-section .popover .container .story .story-title {
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid rgb(107,103,101);
    font-size: 16px;
  }
  .toc-section .popover .container .story .story-category {
    font-style: italic;
    color: rgb(52,150,242);
  }
  .toc-section .popover .arrow {
    left: 15%;
    top: -11px !important;
    opacity: 0.8;
  }

html, body, .container, .content, .section {
  height: 100%;
  width: 100% !important;
  max-width: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.root-container {
  /*background: url({{ ASSET_PATH }}skeena/img/cover.jpg) no-repeat center;*/
  background-image: url({{ ASSET_PATH }}skeena/img/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.swiper-root {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
}

.swiper-root, 
.swiper-root>.swiper-wrapper > .swiper-slide {
  width: 100%;
  height: 100%;
}

.page {
  background-color: white;
  width: 65%;
  height: 80%;
  margin: 100px auto; 
  overflow-y: hidden;
}
  .page-wrapper {
    
    
    height: 100%;
  }
  .page-content {
    padding-top: 50px;
    overflow: auto;
    height: 90%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
   .gallery {
    height: 100%;
    width: 100%;
  }
  .galler img {
    width: 100%;
  }
  .page-content img {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 50%;
  }
  .page-content blockquote {
    border-left: 0px;
  }
    .page-content blockquote p {
      color: rgb(51,150,243);
      font-style: italic;
    }
    /*.page-content .short-post {
      width: 100% !important;
      height: 100% !important;
    }
      .page-content .short-post .swiper-slide {
        width: 100% !important;
        /*height: 100% !important;*/
      }*/