---
---
{% include JB/setup %}
/* cover */


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/273126");

  
@font-face {font-family: 'CenturySchoolbookBT-Roman';src: url('../webfonts/273126_0_0.eot');src: url('../webfonts/273126_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/273126_0_0.woff') format('woff'),url('../webfonts/273126_0_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-Italic';src: url('../webfonts/273126_1_0.eot');src: url('../webfonts/273126_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/273126_1_0.woff') format('woff'),url('../webfonts/273126_1_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-Bold';src: url('../webfonts/273126_2_0.eot');src: url('../webfonts/273126_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/273126_2_0.woff') format('woff'),url('../webfonts/273126_2_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-BoldItalic';src: url('../webfonts/273126_3_0.eot');src: url('../webfonts/273126_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/273126_3_0.woff') format('woff'),url('../webfonts/273126_3_0.ttf') format('truetype');}
/*@font-face {font-family: 'CenturySchoolbookBT-BoldCond';src: url('../webfonts/273126_4_0.eot');src: url('../webfonts/273126_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/273126_4_0.woff') format('woff'),url('../webfonts/273126_4_0.ttf') format('truetype');}
@font-face {font-family: 'CenturySchoolbookBT-Monospace';src: url('../webfonts/273126_5_0.eot');src: url('../webfonts/273126_5_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/273126_5_0.woff') format('woff'),url('../webfonts/273126_5_0.ttf') format('truetype');}
*/ 
@font-face {font-family: 'Intro-Black-Caps';src: url('../webfonts/273126_6_0.eot');src: url('../webfonts/273126_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/273126_6_0.woff') format('woff'),url('../webfonts/273126_6_0.ttf') format('truetype');}
@font-face {font-family: 'Intro-Black-Inline-Caps';src: url('../webfonts/273126_7_0.eot');src: url('../webfonts/273126_7_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/273126_7_0.woff') format('woff'),url('../webfonts/273126_7_0.ttf') format('truetype');}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: inherit;
}

/*set hover opacity for main UI elements*/
.page-footer a:hover,
.textify_nav li:hover{
  /* IE 8 */  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  /* IE 5-7 */  filter: alpha(opacity=65);
  /* Netscape */  -moz-opacity: 0.65;
  /* Safari 1.x */  -khtml-opacity: 0.65;
  /* Good browsers */ opacity: 0.65;
}

.popover-content h3 {line-height: 1.2em;font-family:Intro-Black-Caps; }

.story-header {
  text-align: center;
  border-bottom: 0;
  width: 100%;
  padding-top: 15%;
  margin: 0 auto;
  color: white;
}
  .story-header h1 {
    font-family: Intro-Black-Inline-Caps; 
    font-weight: normal; 
    font-style: normal;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 120px;
    line-height: 1;
  }
  .story-header hr { 

    display: block; height: 1px;
    border: 0;
    border-top: 3px solid yellow;
    margin: 1em 0;
    padding: 0; 
    width: 400px;
    margin: 0 auto;
    opacity: .7;
  }

  .story-header h3 {
    font-family: Montserrat;
  }

.story-header-small {
  color:white;
  padding:15px 5px;
  border-top:1px solid white;
  border-bottom:1px solid white;
  position: absolute;
  width:120px;
  left:-150px;
  top:200px;
}

.page.full .story-header-small {
  position: absolute;
  left: 25px;
  top: 110px;
}

body.dark .story-header-small {
  color:black;
  border-color: black;
}
.story-header-small p {
  font-family: Montserrat;
  font-size:.8em;
}
.story-header-small strong {
  font-size: 1.4em;
  font-family: Intro-Black-Caps;
  font-weight: normal;
  letter-spacing: .1em;
}

.page-header {
  text-align: center;
  border-bottom: 0;
  width: 400px;
  padding-top: 5%;
  margin: 0 auto;
  color: white;
}
  .page-header h1 {
    font-family: Intro-Black-Inline-Caps; 
    font-weight: normal; 
    font-style: normal;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 120px;
    line-height: 1;
  }
  .page-header hr { 

    display: block; height: 1px;
    border: 0;
    border-top: 3px solid yellow;
    margin: 1em 0;
    padding: 0; 
    opacity: .7;
  }
.cover-slide, .swiper-slide {
  position: relative;
}

.page-footer {
  position: absolute;
  bottom: 30px;
  height: 44px;
  width: 44px;
  left: 48%;
  z-index: 1000;
}
.page-footer a {
  display:inline-block;
  width:30px;
  height:34px;
  text-indent: -10000px;
  text-align: center;
  font-size: 48px;
  color: #FFC419;
  background:url(../img/arrow-down.png) no-repeat left top;
}


.static-nav {
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -100px;
  width: 100px;
}

.masthead {
  position: absolute;
  z-index: 500;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;

}

.hidden {
  opacity: 0;
}

.navbar .nav>li>a, .navbar .nav>li>a:hover {color:white;}
.dark .navbar .nav>li>a, .dark .navbar .nav>li>a:hover {color:#333333;}

.masthead .navbar .nav>li>a {
  font-family: Intro-Black-Caps;
  letter-spacing: .1em;
  text-shadow: none;
  border-right: 0;
  border-left: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

.masthead .navbar .nav>li>a em {
  font-family: CenturySchoolbookBT-Italic;
  padding-right:8px;
}
.masthead .navbar .nav>li>a>h2, h2.title-name {
  text-transform: none;
  font-family: Montserrat;
  margin-bottom:0;
}
.masthead .navbar .nav>li>a>span{
  width: 25px;
}
.toc-section .popover {

  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 0;
  filter: alpha(opacity=90);
   -moz-opacity: 0.9;
   -khtml-opacity: 0.9;
   background: rgba(255,255,255,0.9);
}
  .toc-section .popover .popover-content {
    overflow: auto;
  }
  .toc-section .popover .container {
    width: 70% !important;
    margin: 0 auto;
  }
  .toc-section .popover .container .row {
    margin-left: 0;
  }
  .toc-section .popover .container .story {
    text-align: center;
    margin-top: 5%;

  }
  .toc-section .popover .container .story .story-title {
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid rgb(107,103,101);
    font-size: 16px;
  }
  .toc-section .popover .container .story .story-category {
    font-style: italic;
    color: rgb(52,150,242);
  }
  .toc-section .popover .arrow {
    left: 15%;
    top: -11px !important;
    opacity: 0.8;
  }

html, body, .container, .content, .section {
  height: 100%;
  width: 100% !important;
  max-width: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.root-container {
  /*background: url({{ ASSET_PATH }}skeena/img/cover.jpg) no-repeat center;*/
  /*background-image: url({{ ASSET_PATH }}skeena/img/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;*/
  background-color: rgb(52,72,52);
}
.swiper-root {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 0;
}
.swiper-wrapper {
  z-index: 10;
}
.swiper-root, 
.swiper-root>.swiper-wrapper > .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-scrollbar {
  border-radius: 10px;
position: absolute;
right: 3px;
top: 0;
height: 100%;
width: 5px;
  background-color:#e5e5e5;
  background: rgba(0,0,0,0.1);
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #FFe18c;
  background: rgba(255,196,25,0.5);
  border-radius: 10px;
}

.page {
  background-color: white;
  width: 70%;
  max-width: 900px;
  height: 80%;
  margin: 100px auto; 
  overflow-y: hidden;
  overflow:visible;
  position:relative;
}

.page.full {
  background-color:white;
  width:100%;
  max-width: 100%;
  height:100%;
  margin-top:0;
}

.page.full .page-wrapper{
    padding-top: 115px;
}

.ink-bg {
  background: url(../img/ink.jpg) left top;
}
.paper-bg {
  background: url(../img/paper.jpg) left top;
}
.page-wrapper {
  margin:0 !important;  
  height: 100%;
}
.page-content {
  font-family: 'Montserrat';
  padding: 0px 22% 0px 6%;
  margin-top:5%;
  overflow: auto;
  height: 90%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.page-content span.intro {
    font-family: CenturySchoolbookBT-Bold;
}

.page-content p {
  padding-left:28%;
  padding-right: 3px;
}

/*
this places the arrow at the end of each page, but it's unreliable where the arrow will appear.
.contentText .column p:last-child:after{
  display: inline-block;
  content: "";
  width: 19px;
  height: 10px;
  background: transparent url(../img/end-arrow.png) no-repeat right top;
}*/

.contentText div:last-child div.column>p:last-child:after {
  display: inline-block;
  content: "";
  width: 19px;
  height: 10px;
  background: transparent url(../img/end-circle.png) no-repeat right top;
}
.page-content hr {margin-left:28%;}
.page-content strong {color:rgb(51,150,243); font-weight: bold;}

.page-content img {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 250px !important;
  height:auto !important;
  margin-left:-12% !important;
}
.page-content blockquote {
  font-family: CenturySchoolbookBT-Roman;
  border:none;
  margin:20px 0;
  padding: 0 1% 0 12%;
}
.page-content blockquote p {
    color: rgb(51,150,243);
    font-size: 1.4em;
    font-style: italic;
    padding:0;
}

.page-content blockquote blockquote p {
  font-weight: bold;
  color: black;
  font-size: 1em;
  padding-left: 16%;
}

/*voices styling*/
.sub-toc-item {
  padding:10px 15px;
  margin:0 !important;
  border-right:1px dashed white;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}

.sub-toc-item:last-child {border:none;}

.sub-toc-item:hover {
  background-color:#d9d9d9;
  background-color: rgba(217,217,217,.7);
  background: transparent\9; /* clear current background for ie */
  zoom:1; /* required for the filters */  
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fd9d9d9, endColorstr=#7Fd9d9d9);
  /* For IE 8*/
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fd9d9d9, endColorstr=#7Fd9d9d9)";
  cursor: pointer;
}
.voice-content-wrapper{
  position:absolute;
  right:35px;
  width: 395px;
  height: 95%;
  background: white url(../img/ink.jpg) left top;

}
.voice-player,.voice-content,.voice-footer{
  box-sizing:border-box;-moz-box-sizing:border-box;
  padding:0 20px;
}
.voice-player {position:absolute; top:0px; left:0px; height:100px; right:0px;overflow:hidden;}
.voice-content {position:absolute; top:120px; bottom:100px; left:0px; right:0px; overflow:auto;}
.voice-footer {position:absolute; bottom:0px; height:80px; left:0px; right:0px; overflow:hidden;}

.gallery {
  height: 100%;
  width: 100%;
}
.gallery .swiper-slide>img {
 /* width: 100%;*/
 display:block;
 margin-left: auto;
 margin-right:auto;
}

/*style pagination and navigation for horizontal sliders*/
.general-pagination{
  text-align:center;
  width:100%;
  position: absolute;
  z-index:100;
}
.general-pagination .swiper-pagination-switch {
display:inline-block;
width:10px;
height:10px;
border-radius:10px;
background:#999;
box-shadow:0 1px 2px #555 inset;
cursor:pointer;
margin:0 3px;
}

.general-pagination .swiper-active-switch {
background:#fff;
}

.navarrows
{
  position: absolute;
  top:45%;
  height: 100px;
  width: 100%;
  z-index:100;
}

.navarrows a
{
  display: block;
  width: 22px;
  height: 64px;
  background-repeat: no-repeat;
  padding: 0;
}

.navarrows > div{
  padding:15px;
  cursor:pointer;
}


.navarrows a:hover
{
  background-position: right top;
}

.navarrows a:active
{
  background-position: left bottom;
}


.leftarrow
{
  background-image: url('../img/left-arrow.png');
  background-position: left top;
}

.rightarrow
{
  background-image: url('../img/right-arrow.png');
  background-position: left top;
}

  /*.page-content .short-post {
    width: 100% !important;
    height: 100% !important;
  }
    .page-content .short-post .swiper-slide {
      width: 100% !important;
      /*height: 100% !important;
    }*/