<div class="row">
    <div class="container">
        <div class="masthead">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            {% assign pages_list = site.pages %} {% assign group = 'navigation' %}
                            {% include JB/pages_list %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.navbar -->
        </div>
    </div>
</div>
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row-fluid content-section">
  <div class="span12">
    {{ content }}
  </div>
</div>
